@page "/"
@using BadIdeas.FontAwesome.Icons 
<PageTitle>Index</PageTitle>

<Icon Data="@Github()" class="w-8 fill-slate-400"></Icon>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>